{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"globals": {
		"EmblaCarousel": "readonly",
		"EmblaCarouselClassNames": "readonly"
	},
	"extends": [
		"eslint:recommended",
		"plugin:promise/recommended",
		"plugin:sonarjs/recommended",
		"plugin:unicorn/recommended",
		"prettier"
	],
	"overrides": [],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["promise", "sonarjs", "unicorn"],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js"],
				"moduleDirectory": ["node_modules", "src/"]
			}
		}
	},
	"rules": {}
}
