############################
# OS X
############################

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

############################
# Environment Variables
############################

.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test.local

############################
# Node.js
############################

node_modules

############################
# Locals
############################

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Eslint cache
.eslintcache

# Stylelint cache
.stylelintcache

# Cspell cache
.cspellcache

# Extras(if any)
/dist
release-it/remote-commits.json

